@{
    ViewBag.Title = "Ajax.BeginFrom Test";
}

<form name="myForm" onsubmit="UploadFile();return false;" method="post" id="formid">
    Name: <input type="file" multiple="" name="fileList">
    <input type="submit" value="Submit">

</form>

@section scripts
{
    <script>
        function UploadFile() {
            var formData = new FormData($('#formid')[0]);

            $.ajax({
                type: "POST",
                url: '@Url.Action("Upload","Home")',
                dataType: 'json',
                data: formData,
                contentType: false,
                processData: false,
                beforeSend: function (xhr) {
                    alert("beforeSend");
                },
                success: function (data) {
                    alert("success");
                },
                error: function (data) {
                    alert("error");
                }
            });
        }

    </script>
}
